@font-face {
    font-family: 'Heading-Now-51-Thin';
    src: url('../fonts/HeadingNow/Heading-Now-51-Thin.ttf');
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Heading-Now-52-Light';
    src: url('../fonts/HeadingNow/Heading-Now-52-Light.ttf');
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Heading-Now-53-Book';
    src: url('../fonts/HeadingNow/Heading-Now-53-Book.ttf');
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Heading-Now-54-Regular';
    src: url('../fonts/HeadingNow/Heading-Now-54-Regular.ttf');
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Heading-Now-55-Medium';
    src: url('../fonts/HeadingNow/Heading-Now-55-Medium.ttf');
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Heading-Now-56-Bold';
    src: url('../fonts/HeadingNow/Heading-Now-56-Bold.ttf');
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Heading-Now-57-Extrabold';
    src: url('../fonts/HeadingNow/Heading-Now-57-Extrabold.ttf');
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Heading-Now-58-Heavy';
    src: url('../fonts/HeadingNow/Heading-Now-58-Heavy.ttf');
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Heading-Now-73-Book';
    src: url('../fonts/HeadingNow/Heading-Now-73-Book.ttf');
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Heading-Now-74-Regular';
    src: url('../fonts/HeadingNow/Heading-Now-74-Regular.ttf');
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Heading-Now-75-Medium';
    src: url('../fonts/HeadingNow/Heading-Now-75-Medium.ttf');
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Heading-Now-76-Bold';
    src: url('../fonts/HeadingNow/Heading-Now-76-Bold.ttf');
    font-style: normal;
    font-display: swap;
}